.main{
    background-color: #f0eded;
    width: 100vw;
    height: 100vh;
}
.wrapper{
    margin: 20px;
}
.bank-card{
    height: 200px;
    background-color: #fff;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
}

.money-line-outline{
    margin:20px 40px;
    width: 220px;
    height: 10px;
    border: 0.5px #f2f0f0 solid;
    border-radius: 12px;
}

.money-line-in1{
    width: 150px;
    height: 10px;
    background-color:#36e356;
    border-radius: 12px;
}

.money-line-in2{
    width: 60px;
    height: 10px;
    background-color:#e36040;
    border-radius: 12px;
}

.money-line-in3{
    width: 75px;
    height: 10px;
    background-color:#e3e036;
    border-radius: 12px;
}

.money-line-in4{
    width: 85px;
    height: 10px;
    background-color:#36e356;
    border-radius: 12px;
}

.links{
    font-size: 14px;
    color: #15b9d6;
}